extends ../layout
block content
  .container-fluid(ng-app='demos_cfg' ng-controller='main_control')
      .row
        .col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            li.active
              a(href="/")
                span(class="glyphicon glyphicon-home" aria-hidden="true")  Inicio
                span.sr-only (current)
            li
              a(href='/articulos/add')
               span(class="glyphicon glyphicon-plus" aria-hidden="true")  Articulo 
            
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h2= title

          form.form-horizontal(method="post" action="/articulos/add")
            fieldset
              legend
              .form-group
                label.col-sm-2.control-label Titulo
                .col-sm-10
                  input(type="text" name='title' required)
              .form-group
                label.col-sm-2.control-label Region
                .col-sm-10
                  select(name="region")
                    option(value="") Elegir region
                    option(value='#{region[0].idregion}') #{region[0].location}
                    option(value='#{region[1].idregion}') #{region[1].location}
                    option(value='#{region[2].idregion}') #{region[2].location}
              .form-group
                label.col-sm-2.control-label Categoria
                .col-sm-10
                  select(name="categoria")
                    option(value="") Elegir Categoria
                    option(value='1') Economia
                    option(value='2') Entretenimiento
                    option(value='3') Politica
                    option(value='4') Policial
                    option(value='5') Tecnologia
                    option(value='6') Gastronomia
                 
              .form-group
                label.col-sm-2.control-label Contenido
                .col-sm-10
                  textarea( rows="20" cols="60" type="text" name='content' required)
              .form-group
                .col-sm-offset-2.col-sm-10
                  button.btn.btn-primary(type="submit" name="submit" value="Guardar") 
                   span(class="glyphicon glyphicon-save" aria-hidden="true") Guardar

                  //- button.btn.btn-danger(type="cancel" name="cancel" value="Cancelar") 
                  //-  span(class="glyphicon glyphicon-ban-circle" aria-hidden="true") Cancelar